* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------------NAVBAR CSS-------------------------------------------- */

/* -------------------------------NAVBAR-------------------------------------------- */
/* .header {
    width: 100%;
} */
.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navarea {
    width: 100%;
    font-family: "Rubik", serif;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 10px 20px;
}

.logo {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    padding-right: 50px;
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #19ce67;

}

.logo img {
    height: 45px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: black;
}



html,
body {
    height: 100%;
    width: 100%;
}

/* Hide hamburger menu on large screens */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}




/* NAV MENU */
.menu ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 30px;
}

.menu ul li {
    cursor: pointer;
}

.menu ul i {
    font-size: 15px;
    padding-left: 5px;
}

/* Button */
.get button {
    font-size: 18px;
    font-weight: 550;

    padding: 10px 15px;
    background-color: #19ce67;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    z-index: 1;
    position: relative;
}


/* button hover */
.get button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #122738;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    border: none;
    border-radius: 5px;
}

.get button:hover {
    cursor: pointer;
}

.get button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}






/* ADMIN SECTION */
.admin {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.admin i {
    font-size: 20px;
}


.admin::before,
.admin::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #2400f3;
    transform-origin: center;
    transform: scaleY(0);
    transition: transform 0.5s ease;
}

.admin::before {
    left: -2px;
}

.admin::after {
    right: -2px;
}

.admin:hover::before,
.admin:hover::after {
    transform: scaleY(1);
}










/* RESPONSIVE NAVBAR */
@media screen and (max-width: 600px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: whitesmoke;
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .admin {
        margin-bottom: 20px;
    }

    .logo {
        padding-right: 25px;
        padding-left: 9px;
        padding-top: 7px;
        padding-bottom: 4px;
        background-color: #32004d;
        clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);

    }

    .logo img {
        height: 30px;
    }

    .menu.active {
        display: flex;
        background-color: #000000c2;
        color: #ffff;
    }

    .menu.active a {
        color: #dfff85e6;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .hamburger {
        display: block;
        color: #32004d;
    }
}





















/* --------------------===========SLIDER------------------------------------------ */
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

#swipe1 {
    background-image: url(image/slider-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 200px;
    padding-left: 100px;
    background-position: center;

}

#swipe1 .slide1 span {
    font-size: 20px;
    color: #19ce67;
    font-family: "Rubik", serif;
}

#swipe1 .slide1 h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 43px;
    font-family: "Poppins", serif;
    line-height: 1.2;
    font-weight: 700;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0f0f0f;
    margin: 0;
    font-family: Arial, sans-serif;
} */

.hover-underline {
    font-size: 2rem;
    position: relative;
    display: table;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #fc9c81, #077993);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

#swipe1 .slide1 p {
    font-family: "Rubik", serif;
    font-weight: 400;
    font-size: 15px;
}

.slidebtn {
    padding-top: 30px;
}

.slidebtn button {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 400px;
    background-color: #19ce67;
    border: none;
    border-radius: 5px;
    font-weight: 550;
    color: #FFFFFF;
    outline: none;
    border: none;
    z-index: 1;
    position: relative;
}

.slidebtn button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #122738;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    border: none;
    border-radius: 5px;
}

.slidebtn button:hover {
    cursor: pointer;
}

.slidebtn button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

#swipe2 {
    background-image: url(image/slider-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding-top: 200px;
    padding-left: 100px;
    /* text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-position: center;
}

#swipe2 .slide1 span {
    font-size: 20px;
    color: #19ce67;
    font-family: "Rubik", serif;
}

#swipe2 .slide1 h1 {
    margin-top: 20px;
    font-size: 43px;
    line-height: 1.2;
    font-family: "Poppins", serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#swipe2.slide1 p {

    font-family: "Rubik", serif;
    font-weight: 400;
    font-size: 15px;
}

.swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}




/* SLIDER RESPONSIVE */

@media screen and (max-width: 600px) {
    #swipe1 {
        background-color: #fff;
        background-image: none;
        padding-left: 10%;
    }

    #swipe2 {
        background-color: #fff;
        background-image: none;
        padding-left: 10%;
    }

}



/* SLIDER RESPONSIVE */















/* --------------------===========SLIDER------------------------------------------ */
/*----------------------------------------- ABOUT US-------------------------------------- */
.about-us {
    background-color: white;
    /* width: 100%; */
    /* max-width: 1024px; */
    display: flex;
    align-items: center;
}

.about-us span {
    color: #19ce67;
    font-size: 14px;
    /* display: block; */
    margin-bottom: 10px;
    font-weight: 500;
    font-family: "Rubik", serif;
}

.about-us .about ul li h5 {
    padding-left: 10px;
    text-align: center;
    display: inline;
    font-size: 20px;
    color: #545454;
    font-weight: 500;
}

.about-us .about ul span i {
    display: contents;
    background-color: #def5ee;
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding-right: 10px;
    font-size: 20px;
}

.about-us .about h2 {
    font-size: 40px;
    font-family: "Poppins", serif;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 0;
}

.about-us .about {
    margin-left: 30px;
    /* margin-top: 30px; */

}

.about-us .about ul li {
    list-style: none;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 15px;
}

.about-us .about p {
    width: 70%;
    padding-bottom: 15px;
    font-family: "Rubik", serif;
    font-size: 15px;
}

/* .about-us .about .slidebtn {
    margin-top: 0;
} */

.features {
    display: flex;
}

/* .features .row {
    display: flex; 
     flex-wrap: wrap;

} */

.features .row .col {

    text-align: center;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    /* transition-duration: 1.4s;
    transition-timing-function: ease; */
    /* transform: translateZ(1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; */
}

.features .row1 .col1 {
    border-radius: 50px 0 0 0;
}

.features .row1 .col2 {
    border-radius: 0 0 0 50px;
}

.features .row2 .col1 {
    border-radius: 0 50px 0 0;
}

.features .row2 .col2 {
    border-radius: 0 0 50px 0;
}

.features .row .col i {
    background-color: #def5ee;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #19ce67;
    margin-bottom: 16px;
    font-size: 35px;
}

/* .features .row .col i:hover {} */

.features .row .col h3 {
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.features .row .col p {
    margin-bottom: 18px;
    font-family: "Rubik", serif;
    font-size: 15px;
    word-wrap: break-word;
}

.features .row .col a {
    line-height: 1;
    color: #19ce67;
    display: block;
    font-size: 14px;
}

/* p {
    line-height: 1.8;
} */


/* ABOUT US RESPONSIVE */
@media screen and (max-width: 600px) {
    .about-us {
        flex-direction: column;
    }

    .features {
        flex-direction: column;
    }

    .row {
        padding-left: 8%;
    }
}



/* ABOUT US RESPONSIVE */










/*----------------------------------------- ABOUT US-------------------------------------- */
/* ---------------------------------------FOOTER------------------------------------------ */
.footer {
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
    background-color: #122738;
    color: white;
    display: flex;
}

.footer area {
    align-items: center !important;
}

.footer i {
    color: #19ce67;
    font-size: 20px;
}

.footer .f1 i {
    font-size: 20px;
    color: #25302a;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.footer .f1 a {
    color: #19ce67;
}

.footer img {
    margin-bottom: 25px;
}

.footer p {
    line-height: 1.8;
    font-size: 15px;
}

.footer .f {
    /* margin-bottom: 0px; */
    padding-right: 50px;

}

.footer ul {
    list-style: none;
}

.footer .social {
    margin-top: 20px;
}

.footer .f .social ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 25px;

}

.footer .f h3 {
    padding-bottom: 15px;
    font-size: 22px;
    color: #19ce67;
}

.footer .f li {
    color: #ffffff;
    margin-bottom: 8px;
    font-size: 15px;
}

.footer .f li a {
    color: #ffffff;
}

.footer .f3 li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #19ce67;
}

.footer .f3 li .f3span {
    padding-right: 15px;
    font-family: "Rubik", serif;
}

.footer .f3 li .right {
    float: right;
}

.footer .f4 ul li i {
    padding-right: 15px;
}

.footer .f4 ul li {
    padding-bottom: 15px;
}

.footer .f4 ul li span {
    font-weight: bold;
    font-family: "Rubik", serif;
}

.footer .f4 ul li a {
    padding-left: 15px;
}

.feet {
    background-color: #070d1a;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}



/* Footer Responsive */


@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        padding-left: 51px;
        /* flex-wrap: nowrap; */
        /* justify-content: center; */
        align-items: center;
        text-align: center;
    }

    .footer img {
        height: 48px;
    }

    .f4 {
        display: inline;
    }
}

/* Footer Responsive */

/* ---------------------------------------FOOTER------------------------------------------ */
/* ---------=====================Responsive Navbar--------------================================- */
/* @media screen (min-width="700px") {} */

/* ---------=====================Responsive Navbar--------------================================- */



/* -----------------------------------------------==========APPOINTMENT PAGE==========-------------------------------------------- */



.appointment {
    padding-top: 100px;
    padding-bottom: 100px;
    /* background-image: linear-gradient(187deg, rgb(255 217 250) 46.5%, rgb(129 25 115) 98.5%, rgb(151 115 115) 124.3%); */
    background-color: #FFFFFF;
    background: #000000, opacity 0%;
}

.appointment .form {
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

.appointment .add {
    background-image: url(image/appointment-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    /* width: 100%; */
    /* box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05); */
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.05);


}

.appointment .appoint {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    background-color: #000000, opacity 0%;
}

.appoint h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.appoint .put {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* flex-wrap: wrap; */
    /* width: 50%; */
}

.appoint .put .in1 {
    padding-bottom: 30px;
    text-align: center;

}

.appoint option {
    padding-right: 40px;
}

.appoint .put .in1 input {
    height: 50px;
    width: 100%;
    color: #121521;
    border: 1px solid #19ce67;
    background-color: #f2f9fc;
    border-radius: 0;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
}

.appoint .put .in1 #time {
    height: 50px;
    width: 100%;
    color: #121521;
    border: 1px solid #19ce67;
    background-color: #f2f9fc;
    border-radius: 0;
    font-size: 15px;
    text-align: center;
    padding: 10px 28px;
}

.appoint .put .in1 #service {
    height: 50px;
    width: 100%;
    color: #121521;
    border: 1px solid #19ce67;
    background-color: #f2f9fc;
    border-radius: 0;
    font-size: 15px;
    text-align: center;
    padding: 0px 25px 0px 30px;
}


.appoint .put .in1 #date {
    height: 50px;
    width: 100%;
    color: #121521;
    border: 1px solid #19ce67;
    background-color: #f2f9fc;
    border-radius: 0;
    font-size: 15px;
    text-align: center;
    padding: 25px 50px;
}


.appoint #textarea {
    height: 50px;
    width: 100%;
    color: #121521;
    border: 1px solid #19ce67;
    background-color: #f2f9fc;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Rubik", serif;
    padding: 10px;
    text-align: center;
    /* padding: 25px 100px; */
}

.appoint .put .in1 i {
    position: relative;
    bottom: 30px;
    right: 100px;
    font-size: 20px;

    /* text-align: center; */
}

.appoint span {
    font-family: "Rubik", serif;
    color: #19ce67;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.appoint h2 {
    font-size: 40px;
    font-family: "Poppins", serif;

}

.book button {
    margin-top: 20px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 400px;
    background-color: #19ce67;
    border: none;
    border-radius: 5px;
    font-weight: 550;
    color: #FFFFFF;
    /* z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em; */
    outline: none;
    border: none;
    z-index: 1;
    position: relative;
}

/* .get button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%); 
} */

.book button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #122738;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    border: none;
    border-radius: 5px;
}

.book button:hover {
    cursor: pointer;
}

.book button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}


@media screen and (max-width: 600px) {
    .appoint {
        flex-direction: column;

    }

    .add {
        display: none;
    }
}


/* -----------------------------------------------==========APPOINTMENT PAGE==========-------------------------------------------- */

/* ----------------------------ADMIN PAGE------------------------------ */

.adminpage {
    background-color: #F6F7F8;
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.adminlogin .image img {
    height: 3rem;
}

.adminlogin {
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 18px 7px rgba(60, 72, 88, 0.15);
    /* box-shadow: rgba(60, 72, 88, 0.15) 0px 0px 3px 0px; */
}

.adminlogin .image {
    background-color: #19ce67;
    display: flex;
    justify-content: center;
}

.log {
    /* border: 1px solid #19ce67; */
    padding: 1.5rem;
}

.log h4 {
    font-family: "Rubik", serif;
    text-align: center;
    font-size: 2vmax;

}

form {
    width: 100%;
}

.email {
    margin-bottom: 1rem;
}

.log label {
    font-family: "Rubik", serif;
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 20px;
}

.log input {
    background-color: #fff;
    border: 1px solid #19ce67;
    border-radius: .375rem;
    color: #212529;
    /* display: block; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    /* transition: border-color .15sease-in-out, box-shadow .15sease-in-out; */
    width: 100%;
}

.password {
    margin-bottom: 1rem;
}

.check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 1.25rem;


}

.check .checkbox {
    display: flex;
    align-items: center;
    text-align: center;
}

.checkbox #checking {
    display: block;
    border-radius: .25rem;
    /* float: left; */
    height: 1em;
}

.checkbox label {
    padding-left: 20px;
    align-items: center;
    text-align: center;
}

.sign button {
    background-color: #19ce67;
    width: 100%;
    font-size: 1.1rem;
    border: 1px solid #1c19ce;
    border-radius: .375rem;
    color: #212529;
    height: 2.2rem;
    margin-bottom: 1.25rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    color: #122738;
    position: relative;
    z-index: 1;
}

.sign button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #122738;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    border: none;
    border-radius: 5px;
}

.sign button:hover {
    cursor: pointer;
    color: #fff;
}

.sign button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}





.signup {
    display: flex;

    justify-content: space-between;
}

.adminlogin a {
    color: #122738;
    font-family: "Poppins", serif;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .log h4 {
        font-size: 28px;
        padding-bottom: 30px;
        font-family: "Poppins", serif;
    }
}


/* ----------------------------ADMIN PAGE------------------------------ */
/* -----------------------------------REGISTRATION PAGE------------------------------------------------ */

.wrapped {
    background-color: #fff;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 750px;
    background: rgb(8 8 8 / 79%);
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;

}

.wrapper .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field {
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;
}

.input-box .input-field input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
    color: #fff;
}

.input-box .input-field i {
    position: absolute;
    left: 18px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper label {
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}

.wrapper label input {
    accent-color: #fff;
    margin-right: 5px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}

@media screen and (max-width: 600px) {
    .input-box .input-field input {}

    .wrapped {
        padding: 22px 11px;
    }

    .wrapper .input-box {
        flex-direction: column;
        display: inline-block;
    }

    .input-box .input-field {
        width: 100%;
    }
}

/* -----------------------------------REGISTRATION PAGE------------------------------------------------ */

/* -----------------------loginpage---------------------------------------- */

.logsin {
    display: flex;
    justify-content: center;
    background-color: #1bf6ff82;
    padding: 30px 30px;
}

.login-box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.login-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.login-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-b input {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .05);
    outline: none;
    transition: .3s;
}

::placeholder {
    font-weight: 500;
    color: #222;
}

.input-b :focus {
    width: 105%;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.forgot section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

}

.forgot #check {
    margin-right: 10px;
}

section a {
    text-decoration: none;
    color: #555;
}

a:hover {
    text-decoration: underline;
}

.input-submit {
    position: relative;
}

.input-submit .submit-btn {
    width: 100%;
    height: 60px;
    background-color: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.submit-btn:hover {
    transform: scale(1.05, 1);
    background: #000;
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #000;
    font-weight: 600;
}



/* -----------------------loginpage---------------------------------------- */




/* aos */

/* [data-aos="example-anim3"] {
    background: rgb(217, 155, 155);
    transition-property: background;

    &.aos-animate {
        background: rgb(255, 255, 255);
    }
} */

[data-aos="example-anim3"] {
    transform: rotate(35deg);
    opacity: 0;
    transition-property: transform, opacity;

    &.aos-animate {
        transform: rotate(0);
        opacity: 1;
    }
}

/* aos */



/* ------------------------DATABASE ------------------------------------- */
.database_body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 20px 0 70px 0;
    /* background-color: rgb(27, 37, 224); */
    background: url(image/bgimg.jpg) center / cover;
    background-repeat: no-repeat;
}

.table {
    width: 82vw;
    /* height: 90vh; */
    height: 100%;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table_body {
    width: 100%;
    /* height: 100%; */
    max-height: calc(89% .8rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.theader {
    font-family: "Poppins", serif;
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
}

th {
    font-family: "Poppins", serif;
    font-size: 1.1rem;
}

table {
    width: 100%;
    /* height: 100%; */
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #19ce67;
}

tr td {
    font-family: "Rubik", serif;
    font-size: 1rem;
}

tr td #delbtn {
    width: 100%;
    height: 100%;
    padding: .5rem .2rem .5rem .2rem;
    border: none;
    outline: none;
    border-radius: .2rem;
    font-weight: 600;
    color: #ffffff;
    font-size: 1rem;
    background-color: rgba(255, 0, 0, 0.547);
}

#eservice {
    font-weight: bold;
}

tr td #edbtn {
    width: 100%;
    height: 100%;
    padding: .5rem .2rem .5rem .2rem;
    border: none;
    outline: none;
    border-radius: .2rem;
    font-weight: 600;
    color: #000000;
    font-size: 1rem;
    background-color: rgba(0, 153, 255, 0.547);
}

tr td tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.editform {
    display: flex;
    justify-content: center;
}

#showfrm {
    display: flex;
    width: 100%;
}

#showfrm input {
    text-align: center;
    font-family: "Rubik", serif;
    font-weight: 500;
    font-size: 1rem;
    color: #0909d2bf;
    width: 100%;
    height: 100%;
}





/* ------------------------DATABASE ------------------------------------- */