* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navarea {
    font-family: "Rubik", serif;
    font-weight: 550;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.logo {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    background-color: #19ce67;
    /* padding: 10px 90px;
    padding-right: 50px; */
    padding-right: 50px;
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img {
    height: 45px;
}

.menu {
    display: flex;
    /* margin-left: 50px; */
    padding-left: 50px;
    align-items: center;
}

.menu ul {
    text-align: center;
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 30px;
}

.menu ul i {
    font-size: 15px;
    text-align: center;
    padding-left: 5px;
}

.get {
    /* margin-left: 100px; */
    display: flex;
    text-align: center;
}

.get button {
    height: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 400px;
    background-color: #19ce67;
    border: none;
    border-radius: 5px;
    font-weight: 550;
    color: white;
    /* z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em; */
    outline: none;
    border: none;
    z-index: 1;
    position: relative;
}

.get button {
    /* z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%); */
}

.get button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    border: none;
    border-radius: 5px;
}

.get button:hover {
    cursor: pointer;
}

.get button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}


.admin {
    display: flex;
    /* margin-left: 30px; */
    padding-left: 30px;
    text-align: center;
    font-size: 30px;
}

.admin i {

    margin-top: 4px;
    font-size: 24px;
}